'.source.asp':
  'editor':
    'foldEndPattern': '(?i)^\\s*End (Class|Function|Sub|Property)\\s*$'
    'commentStart': '\''
    'completions': [
      'Abs'
      'Add'
      'Application'
      'Array'
      'Asc'
      'AtEndOfStream'
      'Atn'
      'CBool'
      'CByte'
      'CCur'
      'CDate'
      'CDbl'
      'Chr'
      'CInt'
      'ClientCertificate'
      'CLng'
      'Const'
      'Contents'
      'Conversions'
      'Cookies'
      'Cos'
      'CreateObject'
      'CSng'
      'CStr'
      'Date'
      'DateAdd'
      'DateDiff'
      'DatePart'
      'DateSerial'
      'DateValue'
      'Day'
      'Default'
      'Derived'
      'Dim'
      'ElseIf'
      'Empty'
      'End If'
      'EOF'
      'Escape'
      'Eval'
      'Execute'
      'ExecuteGlobal'
      'Exists'
      'Exp'
      'False'
      'Filter'
      'Fix'
      'Form'
      'FormatCurrency'
      'FormatDateTime'
      'FormatNumber'
      'FormatPercent'
      'GetLocale'
      'GetObject'
      'GetRef'
      'Hex'
      'Hour'
      'If'
      'InputBox'
      'InStr'
      'InStrRev'
      'Int'
      'IsArray'
      'IsDate'
      'IsEmpty'
      'IsNull'
      'IsNumeric'
      'IsObject'
      'Item'
      'Items'
      'Join'
      'Keys'
      'LBound'
      'LCase'
      'Left'
      'Len'
      'LoadPicture'
      'Log'
      'LTrim'
      'Math'
      'Maths'
      'Mid'
      'Minute'
      'Month'
      'MonthName'
      'MoveNext'
      'MsgBox'
      'Nothing'
      'Now'
      'Null'
      'ObjectContext'
      'Oct'
      'Preserve'
      'Private'
      'Public'
      'QueryString'
      'ReadLine'
      'Remove'
      'RemoveAll'
      'Replace'
      'Request'
      'Response'
      'RGB'
      'Right'
      'Rnd'
      'Round'
      'RTrim'
      'ScriptEngine'
      'ScriptEngineBuildVersion'
      'ScriptEngineMajorVersion'
      'ScriptEngineMinorVersion'
      'Second'
      'Send'
      'Server'
      'ServerVariables'
      'Session'
      'Set'
      'SetLocale'
      'Sgn'
      'Sin'
      'Space'
      'Split'
      'Sqr'
      'StaticObjects'
      'StrComp'
      'String'
      'StrReverse'
      'Tan'
      'Time'
      'Timer'
      'TimeSerial'
      'TimeValue'
      'Trim'
      'True'
      'TypeName'
      'UBound'
      'UCase'
      'Unescape'
      'VarType'
      'vbArray'
      'vbbinarycompare'
      'vbBoolean'
      'vbByte'
      'vbcr'
      'vbcrlf'
      'vbCurrency'
      'vbDataObject'
      'vbDate'
      'vbDecimal'
      'vbDouble'
      'vbEmpty'
      'vbError'
      'vbfalse'
      'vbfirstfourdays'
      'vbfirstfullweek'
      'vbfirstjan1'
      'vbformfeed'
      'vbfriday'
      'vbgeneraldate'
      'vbInteger'
      'vblf'
      'vbLong'
      'vblongdate'
      'vblongtime'
      'vbmonday'
      'vbnewline'
      'vbNull'
      'vbnullchar'
      'vbnullstring'
      'vbObject'
      'vbobjecterror'
      'vbsaturday'
      'vbshortdate'
      'vbshorttime'
      'vbSingle'
      'vbString'
      'vbtab'
      'vbtextcomparevbsunday'
      'vbthursday'
      'vbtrue'
      'vbtuesday'
      'vbusesystemdayofweek'
      'vbVariant'
      'vbverticaltab'
      'vbwednesday'
      'Weekday'
      'WeekdayName'
      'Write'
      'Year'
    ]
'.text.html.asp':
  'editor':
    'foldEndPattern': '(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})'
'.source.vbs':
  'editor':
    'foldEndPattern': '(?i)^\\s*End (Class|Function|Sub|Property)\\s*$'
    'commentStart': '\''
